

.mainDiv{
    width: 80%;
    height: auto;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 50px;
}


.mainDiv h2{
    font-weight: bold;
    color : #4a4a4a;
    font-size: 30px;
}

.mainDiv >span{
    display: block;
    color: #4a4a4a;
    margin-bottom: 15px;
    /* background-color: red; */
}

.gridDiv img{
    width: 264px;
    height: 205px;
    /* display: block; */
    /* margin: auto; */

    /* padding: 50px; */
    /* background-color: green; */
    transition: transform .3s; /* Animation */
    /* width: 200px;
    height: 200px; */
    margin: 0 auto;
    /* background-color: red; */
}


.gridDiv img:hover{
    /* background-color: black; */
    transform: scale(0.5)
}



/* medium screen */

@media all and (min-width: 768px) and (max-width: 1024px) {

.col {
    grid-template-columns: repeat(2,1fr);
}
}



/* small screen */

@media all and (min-width: 320px) and (max-width: 467px) {

    .col {
        grid-template-columns: repeat(2,1fr);
    }

}